################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Uebung-002 -- Assignment Introduction Propositional Logik/v17
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Uebung-002 -- Assignment Introduction Propositional Logik/FileContentIndex/024c4a04-83da-45df-a4fd-0dce212b5f09.vsidx
/.vs/Uebung-002 -- Assignment Introduction Propositional Logik/FileContentIndex
